https://github.com/rmanthey99/UdemyPython/blob/master/01%20-%20Python%20Objects%20and%20Data%20Structures/04-Lists.ipynb
Lists
Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:

1.) Creating lists
2.) Indexing and Slicing Lists
3.) Basic List Methods
4.) Nesting Lists
5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [1]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [2]:
my_list = ['A string',23,100.232,'o']

In [3]:
len(my_list)

4

In [4]:
my_list = ['one','two','three',4,5]

In [5]:
# Grab element at index 0
my_list[0]

'one'

In [6]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [7]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [8]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [9]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [10]:
# Reassign
my_list = my_list + ['add new item permanently']

In [11]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [15]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [13]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [14]:
# Create a new list
list1 = [1,2,3]

In [16]:
# Append
list1.append('append me!')

In [17]:
# Show
list1

[1, 2, 3, 'append me!']

In [18]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [19]:
# Show
list1

[2, 3, 'append me!']

In [20]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [21]:
popped_item

'append me!'

In [22]:
# Show remaining list
list1

[2, 3]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [23]:
list1[100]

IndexError: list index out of range

In [24]:
new_list = ['a','e','x','b','c']

In [25]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [26]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [27]:
new_list

['c', 'b', 'x', 'e', 'a']

In [28]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [29]:
new_list

['a', 'b', 'c', 'e', 'x']

In [30]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [31]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [33]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [34]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [35]:
first_col

[1, 4, 7]